* {
    user-select: none;
    font-family: "VT323", monospace;
    font-weight: lighter;
}

body, html{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../js/model/assets/img/nedladdning.png");
    background-size: cover;
}

/*
------ Canvas Styling ------
@Author Philip
 */
.canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: blur(10,10,10,10);
    border: 2px solid #4F4537;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

#GameBackground, #GameBackground, #GameHover, #TowerScreen { /* Everything that needs to be on top of the canvas */
    position: absolute;
    top: 20px;
    left: 20px;
}

#GameBackground {
    border: 3px solid #4F4537;
    border-radius: 10px;
    z-index: 0;
}

#GameScreen {
    z-index: 1;
}

#GameHover {
    z-index: 4;
}

#TowerScreen {
    z-index: 3;
}

#GameUI {
    position: absolute;
    top: 20px;
    left: 1135px;
    border-radius: 5px;
    z-index:3;
}

/*
------ In-Game UI Styling ------
              @Author Philip
 */
.UIScreen {
    height: 960px;
    width: 190px;
    z-index: 4;
}
/*
--heart--
@Author: Philip & Mahyar
 */

.UIScreen #heartAnimation{
    position: absolute;
    top: 25px;
    right: 160px;
    width: 45px;
    height: 45px;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.62));
    animation: heartAnimation 1.5s infinite;

}

.UIScreen #healthCounter {
    position: absolute;
    top: 13px;
    right: 95px;
    font-size: 65px;
    font-family: "VT323", cursive;
    color: rgba(255, 0, 0, 0.62);
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.62));
}

@keyframes heartAnimation { /* Heartbeat animation !!OPTIMIZE!!*/
    0% {
        width: 45px;
        height: 45px;
    }
    50% {
        width: 48px;
        height: 48px;
    }
    100% {
        width: 45px;
        height: 45px;
    }
}

/*
--coin--
@Author Philip & Mahyar
 */
.UIScreen #CoinsCounter {
    position: absolute;
    top: 78px;
    right: 103px;
    width: 45px;
    height: 45px;
    font-family: "VT323", cursive;
    font-size: 65px;
    color: rgb(253, 158, 0);
    filter: drop-shadow(0 0 5px rgba(253, 158, 0));
}

.UIScreen #CoinsAnimation {
    position: absolute;
    top: 88px;
    right: 160px;
    width: 45px;
    height: 45px;
    font-family: "VT323", cursive;
    background-image: url('../js/model/assets/Coins/MonedaD.png');
    background-size: 500% 100%;
    filter: drop-shadow(0 0 5px rgba(253, 158, 0));
    animation: coinAnimation 3s steps(2) infinite;
}
@keyframes coinAnimation {
    0% { background-position: 0 0; }
    20% { background-position: -0px 0; }
    40% { background-position: -0px 0; }
    60% { background-position: -90px 0; }
    80% { background-position: -0px 0; }
    100% { background-position: 0 0; }
}

/*
--wave--
@Author Philip
 */
.UIScreen #WaveCounter {
    position: absolute;
    top: 110px;
    width: 200px;
    height: 65px;
    font-family: "VT323", cursive;
    font-size: 55px;
    color: rgb(44, 197, 0);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}
.UIScreen #TowersText{
    position: absolute;
    top: 160px;
    right: 140px;
    width: 60px;
    height: 60px;
    font-family: "VT323", cursive;
    font-size: 55px;
    color: wheat;
    filter: drop-shadow(0 0 5px rgb(0,0,0));
    text-decoration: underline;
}


/*
--button GameWave--
@Author Philip
 */

.UIScreen #GameWaveButton {
    border: 3px solid #4F4537;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 93%;
    left: 84.6%;
}

.UIScreen #GameWaveButton:hover {
    background: #8c343c;
    color: white;
    font-size: 2.5em;
    filter: drop-shadow(0 0 20px #8c343c);
}

.UIScreen #GameWaveButton:disabled {
    cursor: not-allowed;
}

/*
--button towers--
@Author Philip
 */

.UIScreen #sellButton {
    border: 3px solid #4F4537;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 92px;
    height: 50px;

    position: absolute;
    top: 88%;
    left: 84.6%;
}

.UIScreen #sellButton:hover {
    background: #fd9e00;
    color: white;
    font-size: 2.2em;
    filter: drop-shadow(0 0 20px #fd9e00);
}

.UIScreen #sellButton:hover:disabled {
    cursor: not-allowed;
}

.UIScreen #speedButton {
    border: 3px solid #4F4537;
    border-radius: 20px;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 92px;
    height: 50px;

    position: absolute;
    top: 88%;
    left: 91.5%;

}

/*
------ Tower Button Styling ------
 */
.UIScreen .towers {
    position: absolute;
    width: 183px;
    height: 250px;
    top: 20%;
    background: #483d27;
    border: rgba(63, 63, 63, 0.63);
    border: 3px solid;
    border-radius: 10px;
}

.towers #towerLabel {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 50px;
    top: 3%;
    left: 15%;
    color: white;
}

.UIScreen #tower1, .UIScreen #tower2, .UIScreen #tower3, .UIScreen #tower4 {
    border: 2px solid #4F4537;
    border-radius: 10px;
    background: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 80px;
    height: 80px;

    position: absolute;
}

.UIScreen #tower1Image, .UIScreen #tower2Image, .UIScreen #tower3Image, .UIScreen #tower4Image {
    position: absolute;
    top: 30%;
    left: 30%;
    filter: drop-shadow(4px 4px #000000);
}

.UIScreen #tower1Cost, .UIScreen #tower2Cost, .UIScreen #tower3Cost, .UIScreen #tower4Cost {
    position: absolute;
    font-size: 18px;
    top: 75%;
    left: 10%;
}

.UIScreen #tower1Name, .UIScreen #tower2Name, .UIScreen #tower3Name, .UIScreen #tower4Name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    top: -35%;
}

.UIScreen #tower1:disabled, .UIScreen #tower2:disabled, .UIScreen #tower3:disabled, .UIScreen #tower4:disabled {
    cursor: not-allowed;
    filter: blur(1px);
    background-color: gray;
}

.UIScreen #tower1:disabled:hover, .UIScreen #tower2:disabled:hover, .UIScreen #tower3:disabled:hover, .UIScreen #tower4:disabled:hover {
    background: gray;
    color: #676767;
    font-size: 30px;
    filter: drop-shadow(0 0 20px rgba(0, 255, 11, 0));

}

.UIScreen #tower1:hover, .UIScreen #tower2:hover, .UIScreen #tower3:hover, .UIScreen #tower4:hover {
    background: rgba(0, 255, 227, 0.45);
    color: white;
    font-size: 2em;
    filter: drop-shadow(0 0 20px #118275);
}

.UIScreen #tower1 {
    top: 25%;
    left: 5%;
}


.UIScreen #tower2 {
    top: 25%;
    left: 50%;
}

.UIScreen #tower3 {
    top: 63%;
    left: 5%;
}

.UIScreen #tower4 {
    top: 63%;
    left: 50%;
}



/*
--button Setting--
@Author Philip
 */

.UIScreen #settingsButton {
    transition: all 0.3s;
    border: 3px solid rgba(79, 69, 55, 0);
    cursor: pointer;
    background: rgba(223, 224, 223, 0);
    width: auto;
    height: auto;

    position: absolute;
    top: 25px;
    right: 15px;
}

.UIScreen #settingsButton:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

/*
--settings--
@author Philip
 */
.settings {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: rgba(86, 69, 41, 0.86);
    font-family: "VT323", cursive;
    border-radius: 9px;
    width: 400px;
    height: 300px;
    z-index: 4;
    animation: flyIn 1.5s forwards;
}

.settings.flyOut {
    animation: flyOut 1s forwards;
}

@keyframes flyIn {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flyOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

.settings #restartButton {
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-family: "VT323", monospace;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 90%;
    left: 50%;
}

.settings #restartButton:hover {
    background: #ad0000;
    color: white;
    font-size: 43px;
    filter: drop-shadow(0 0 20px #ef0000);
}

.settings h1 {
    color: #ffffff;
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.settings #closeSettings {
    position: absolute;
    top: 10px;
    font-family: "VT323", cursive;
    right: 15px;
    width: auto;
    height: auto;
    font-size: 50px;
    color: #ffffff;
    background: rgba(86, 69, 41, 0.86);
    border: 3px solid #4F4537;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
}

.settings #closeSettings:hover {
    color: #c8160d;
    transition: transform 1s ease-in-out;
}

.settings #homeScreenButton {
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-family: "VT323", monospace;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 90%;
    left: 3%;
}

.settings #homeScreenButton:hover {
    background: #3c6229;
    color: white;
    font-size: 43px;
    filter: drop-shadow(0 0 20px #3c6229);
}

.checkbox1, .checkbox2 {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: absolute;


    margin-right: 10px;
    cursor: pointer;
}

.checkbox1:before, .checkbox2:before {
    content: "";
    background-color: #2ebb00;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.checkbox1:checked:before, .checkbox2:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox1 {
    top: 20%;
    left: 5%;
}

.checkbox2 {
    top: 40%;
    left: 5%;
}

#CheckboxFPSLabel {
    font-family: "VT323", cursive;
    font-weight: lighter;
    color: #ffffff;
    font-size: 28px;
    position: absolute;
    top: 15%;
    left: 19%;
}

#CheckboxTowerRadiusLabel{
    font-family: "VT323", cursive;
    font-weight: lighter;
    color: #ffffff;
    font-size: 28px;
    position: absolute;
    top: 35%;
    left: 19%;
}

/*
------ Effect Canvas Styling ------
@Author Philip
 */

#fpsCounter{
    display: none;
    position: absolute;
    top: 10px;
    left: 30px;
    color: #3cff00;
    background-color: black;
    font-family: "VT323", cursive;
    font-size: 30px;
    border-radius: 3px;
    z-index: 4;
}

#GameOver{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(42, 42, 42, 0.8);
    color: #ef0000;
    font-family: "VT323", cursive;
    font-size: 200px;
    border-radius: 19px;
    z-index: 20;
}

#GameOver .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 0;
    gap: 10px;
}

#GameOver .buttonContainer button{
    width: 350px;
    height: 60px;
    border: 3px solid #000000;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
}

#GameOver .buttonContainer button:hover {
    background: #dc0000;
    color: white;
    font-size: 0.2em;
}

/*
------ settings Styling ------
 */

#settingsButton {
    position: absolute;
    right: 1%;
    top: 2.5%;
    background-color: rgba(11,42,0,0);
    border: 2px solid rgba(79, 69, 55, 0);
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

#settingsButton #settingsIMG {
    width: 35px;
    height: 35px;
}

#settingsButton:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

/*
------ settingsMenu Styling ------
 */

.settingsScreen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    font-family: "VT323", monospace;
    background: rgba(86, 69, 41, 0.86);
    border-radius: 9px;
    width: 400px;
    height: 300px;
    z-index: 4;
    animation: flyIn 1.5s forwards;
}

.settingsScreen.flyOut {
    animation: flyOut 1.5s forwards;
}

@keyframes flyIn {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flyOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

.settingsScreen #restartButton {
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    font-family: "VT323", monospace;
    cursor: pointer;
    background: white;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 90%;
    left: 50%;
}

.settingsScreen #restartButton:hover {
    background: #ad0000;
    color: white;
    font-size: 43px;
    filter: drop-shadow(0 0 20px #ef0000);
}

.settingsScreen h1 {
    color: white;
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.settingsScreen #closeSettings {
    position: absolute;
    top: 10px;
    font-family: "VT323", monospace;
    right: 15px;
    width: auto;
    height: auto;
    font-size: 50px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 9px;
    transition: all 0.3s;
    cursor: pointer;
}

.settingsScreen #closeSettings:hover {
    color: #ef0000;
    transform: scale(1.2);
}

.settingsScreen #homeScreenButton {
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    font-family: "VT323", monospace;
    cursor: pointer;
    background: white;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 90%;
    left: 3%;
}

.settingsScreen #homeScreenButton:hover {
    background: #3c6229;
    color: white;
    font-size: 43px;
    filter: drop-shadow(0 0 20px #3c6229);
}

.checkbox1, .checkbox2 {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    display:  inline-block;
    position: absolute;

    margin-right: 10px;
    cursor: pointer;
}

.checkbox1:before, .checkbox2:before {
    content: ""'';
    background-color: #2ebb00;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.checkbox1:checked:before, .checkbox2:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox1 {
    top: 20%;
    left: 5%;
}

.checkbox2 {
    top: 40%;
    left: 5%;
}

#CheckboxFPSLabel {
    font-family: "VT323", monospace;
    font-weight: lighter;
    color: white;
    font-size: 28px;
    position: absolute;
    top: 15%;
    left: 19%;
}

#CheckboxTowerRadiusLabel {
    font-family: "VT323", monospace;
    font-weight: lighter;
    color: white;
    font-size: 28px;
    position: absolute;
    top: 35%;
    left: 19%;
}

/*
------ TowerInfo Styling ------
 */


.towerInfo {
    position: absolute;
    background: rgba(86, 69, 41, 0.86);
    border-radius: 4px;


    width: 125px;
    height: 150px;

    top: 256px; /* TopLeft 20px */
    left: 254px; /* TopLeft 20px */
}

.towerInfo #towerInfoName {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: lighter;
}

.towerInfo #towerInfoStats {
    color: white;
    position: relative;
    left: 5px;
    font-size: 23px;
}
