* {
    user-select: none;
}

body, html{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../js/model/assets/img/nedladdning.png");
    background-size: cover;
}

/*
------ Canvas Styling ------
 */
.canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: blur(10,10,10,10);
    border: 2px solid #4F4537;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

#GameBackground, #GameBackground, #GameHover{ /* Everything that needs to be on top of the canvas */
    position: absolute;
    top: 20px;
    left: 20px;
}

#GameBackground {
    border: 3px solid #4F4537;
    border-radius: 10px;
    z-index: 0;
}

#GameScreen {
    z-index: 1;
}

#GameHover {
    z-index: 2;
}

#GameUI {
    position: absolute;
    top: 20px;
    left: 1135px;
    border-radius: 5px;
    z-index:3;
}

/*
------ In-Game UI Styling ------
 */
.UIScreen {
    height: 960px;
    width: 190px;
    z-index: 4;
}
/*
--heart--
 */

.UIScreen #heartAnimation{
    position: absolute;
    top: 25px;
    right: 160px;
    width: 45px;
    height: 45px;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.62));
    animation: heartAnimation 1.5s infinite;

}

.UIScreen #healthCounter {
    position: absolute;
    top: 13px;
    right: 95px;
    font-size: 65px;
    font-family: "VT323", cursive;
    color: rgba(255, 0, 0, 0.62);
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.62));
}

@keyframes heartAnimation { /* Heartbeat animation !!OPTIMIZE!!*/
    0% {
        width: 45px;
        height: 45px;
    }
    50% {
        width: 48px;
        height: 48px;
    }
    100% {
        width: 45px;
        height: 45px;
    }
}

/*
--coin--
 */
.UIScreen #CoinsCounter {
    position: absolute;
    top: 78px;
    right: 103px;
    width: 45px;
    height: 45px;
    font-family: "VT323", cursive;
    font-size: 65px;
    color: rgb(253, 158, 0);
    filter: drop-shadow(0 0 5px rgba(253, 158, 0));
}

.UIScreen #CoinsAnimation {
    position: absolute;
    top: 88px;
    right: 160px;
    width: 45px;
    height: 45px;
    font-family: "VT323", cursive;
    background-image: url('../js/model/assets/Coins/MonedaD.png');
    background-size: 500% 100%;
    filter: drop-shadow(0 0 5px rgba(253, 158, 0));
    animation: coinAnimation 3s steps(2) infinite;
}
@keyframes coinAnimation {
    0% { background-position: 0 0; }
    20% { background-position: -0px 0; }
    40% { background-position: -0px 0; }
    60% { background-position: -90px 0; }
    80% { background-position: -0px 0; }
    100% { background-position: 0 0; }
}

/*
--wave--
 */
.UIScreen #WaveCounter {
    position: absolute;
    top: 110px;
    width: 200px;
    height: 65px;
    font-family: "VT323", cursive;
    font-size: 55px;
    color: rgb(44, 197, 0);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}
.UIScreen #TowersText{
    position: absolute;
    top: 160px;
    right: 140px;
    width: 60px;
    height: 60px;
    font-family: "VT323", cursive;
    font-size: 55px;
    color: wheat;
    filter: drop-shadow(0 0 5px rgb(0,0,0));
    text-decoration: underline;
}


/*
--button GameWave--
 */

.UIScreen #GameWaveButton {
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 93%;
    left: 84.6%;
}

.UIScreen #GameWaveButton:hover {
    background: #8c343c;
    color: white;
    font-size: 2.5em;
    filter: drop-shadow(0 0 20px #8c343c);
}

.UIScreen #GameWaveButton:disabled {
    cursor: not-allowed;
}

/*
--button towers--
 */

.UIScreen #sellButton {
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 88%;
    left: 84.6%;
}

.UIScreen #sellButton:hover {
    background: #fd9e00;
    color: white;
    font-size: 2.2em;
    filter: drop-shadow(0 0 20px #fd9e00);
}

.UIScreen #sellButton:hover:disabled {
    cursor: not-allowed;
}
.UIScreen #mainMenuButton{
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 185px;
    height: 50px;

    position: absolute;
    top: 83%;
    left: 84.6%;
}

.UIScreen #mainMenuButton:hover{
    background: #fd9e00;
    color: white;
    font-size:2.2em ;
    filter: drop-shadow(0 0 20px #fd9e00);
}
.UIScreen #mainMenuButton:hover:disabled{
    cursor: not-allowed;
}

.UIScreen #tower1 {
    border: 3px solid #4F4537;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 20px;
    width: auto;
    height: auto;

    position: absolute;
    top: 78%;
    left: 84.6%;
    z-index: -1;
}

.UIScreen #tower1:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.36);
    font-size: 30px;
}

.UIScreen #tower1:hover{

        background: #fd9e00;
        color: white;
        font-size:2.2em ;
        filter: drop-shadow(0 0 20px #fd9e00);

}

.UIScreen #tower2 {
    border: 3px solid #4F4537;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
    width: 47px;
    height: 45px;

    position: absolute;
    top: 83%;
    left: 88%;
}

.UIScreen #tower2:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.36);
    font-size: 30px;
}

.UIScreen #tower3{
    position: absolute;
    border-radius: 10px;
    background: #DFE0DF;
    font-weight: 550;
    font-family: "VT323", cursive;
    top: 32%;
    left:85% ;
    width:75px;
    height:75px;
    opacity: 100%;
    border: 3px solid #4F4537;
}
#tower3 .cost{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    top: 70%;
}
#tower3 .infoInferno{
    position: absolute;
    top: 8%;
    font-family: "VT323", cursive;
    height: 1px;
    bottom: 10px;
    font-weight: bolder;

    right: 5px;
    font-size: 12px;
    text-decoration: underline;
}
.UIScreen #tower3:hover{
    background: #fd9e00;
    color: white;
    font-size:2.2em ;
    filter: drop-shadow(0 0 20px #fd9e00);
}
#tower3 .image{
    top: 65%;
}
.UIScreen #tower3:disabled{
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.36);
    font-size: 30px;
}




.UIScreen #tower4{
    position: absolute;
    top: 32%;
    right: 30px;
    border-radius: 10px;
    height: 75px;
    width: 75px;
}
#tower4 .cost1{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: "VT323", cursive;
    font-weight: bold;
    font-size: 16px;
    height: 1px;
    color: black;
    top: 70%;
}

.UIScreen #tower4:hover{
    background: #fd9e00;
    color: white;
    font-size:2.2em ;
    filter: drop-shadow(0 0 20px #fd9e00);
}


/*
------ Effect Canvas Styling ------
 */

#fpsCounter{
    display: flex;
    position: absolute;
    top: 10px;
    left: 30px;
    color: #3cff00;
    background-color: black;
    font-family: "VT323", cursive;
    font-size: 30px;
    border-radius: 3px;
    z-index: 4;
}

#GameOver{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(42, 42, 42, 0.8);
    color: #ef0000;
    font-family: "VT323", cursive;
    font-size: 200px;
    border-radius: 19px;
    z-index: 4;
}

#GameOver .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 0;
    gap: 10px;
}

#GameOver .buttonContainer button{
    width: 350px;
    height: 60px;
    border: 3px solid #000000;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 30px;
}

#GameOver .buttonContainer button:hover {
    background: #dc0000;
    color: white;
    font-size: 0.2em;
}