* {
    user-select: none;
}

@keyframes zoomInOut {
    0%, 100% {
        background-size: 100% 100%;
        background-position: center;
    }
    50% {
        background-size: 120% 120%;
        background-position: center;
    }
}

body{
    background-image: url("../assets/img/nedladdning.png");
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: zoomInOut 20s infinite;
    overflow: hidden;
}

@keyframes colorWave {
    0%, 100% {
        color: black;
    }
    40%, 60% {
        color: #3c6229;
    }
}

h1{
    color: #000000;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
    font-family: "VT323", cursive;
    font-size: 150px;
    text-align: center;
    animation: colorWave 4s infinite;
}

a{
    display: block;
    margin-bottom: 20px;
}

div{

    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*
-------- BUTTON --------
 */

div{

    display: flex;
    flex-direction: column;
    filter: blur(10,10,10,10);
    border: 2px solid #402f1d;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

button {
    width: 350px;
    height: 60px;
    border: 3px solid #402f1d;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 40px;
}

.highScores{

}

button:hover {
    background: #402f1d;
    color: white;
    font-size: 3.2em;
}
