/*
@author: Philip
 */
* {
    user-select: none;
    overflow: hidden;
}

/*
The background image is animated to zoom in and out.
@author: Philip
 */
@keyframes zoomInOut {
    0%, 100% {
        background-size: 100% 100%;
        background-position: center;
    }
    50% {
        background-size: 120% 120%;
        background-position: center;
    }
}

/*
sets the background image and the margin and padding to 0. Also centers the content of the page.
@author: Philip
 */
body{
    background-image: url("../js/model/assets/img/nedladdning.png");
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: zoomInOut 20s infinite;

}

/*
The colorWave animation is used to change the color of the text in the game name.
The color changes between black and a dark green color.
@author: Philip
 */
@keyframes colorWave {
    0%, 100% {
        color: black;
    }
    40%, 60% {
        color: #3c6229;
    }
}

/*
The mainBorder class is used to create a border around the content of the page.
The border is blurred and has a white background with a border radius of 20px.
The content is centered in the border.
@author: Philip
 */
.mainBorder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: blur(10,10,10,10);
    border: 2px solid #402f1d;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

/*
The buttonContainer class is used to center the buttons in the page.
@author: Philip
 */
.buttonContainer, .highScoreListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

/*
The highScores class is used to style the high score list.
@author: Philip
 */
#highScores{
    width: 80%;
    height: 80%;
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
}

/*
The button class is used to style the buttons in the page.
The buttons have a white background with a border of 3px and a border radius of 45px.
@author: Philip
 */
.buttonContainer button{
    width: 350px;
    height: 60px;
    border: 3px solid #402f1d;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-weight: 550;
    font-family: "VT323", cursive;
    font-size: 40px;
}

/*
The button:hover class is used to style the buttons when the mouse hovers over them.
The background color changes to a dark brown color and the text color changes to white.
@author: Philip
 */
.buttonContainer button:hover {
    background: #402f1d;
    color: white;
    font-size: 3.2em;
}

/*
The button:active class is used to style the buttons when they are clicked.
The background color changes to a dark brown color and the text color changes to white.
@author: Philip
 */
#GameName{
    color: #000000;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
    font-family: "VT323", cursive;
    font-size: 150px;
    text-align: center;
    filter: drop-shadow(0 0 10px rgb(96, 126, 69));
    animation: colorWave 4s infinite;
}

/*
The highScoreListContainer class is used to style the high score list container.
@author: Philip
 */
.highScoreListContainer h2{
    color: rgb(35, 29, 29);
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: "VT323", cursive;
    font-size: 50px;
    text-align: center;
    filter: drop-shadow(0 0 10px rgb(96, 126, 69));
}