body {
    background-image: url("../js/model/assets/img/nedladdning.png");
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: zoomInOut 20s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        background-size: 100% 100%;
        background-position: center;
    }
    50% {
        background-size: 120% 120%;
        background-position: center;
    }
}

.mainBorder {
    display: flex;
    flex-direction: column;
    position: relative;
    filter: blur(10, 10, 10, 10);
    border: 2px solid #402f1d;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
}

@keyframes colorWave {
    0%, 100% {
        color: black;
    }
    40%, 60% {
        color: #3c6229;
    }
}

#GameName {
    color: #000000;
    font-family: "VT323", cursive;
    font-size: 150px;
    text-align: center;
    filter: drop-shadow(0 0 10px rgb(96, 126, 69));
    animation: colorWave 4s infinite;
    margin-bottom: -40px;
    margin-top: 1%;
}

.buttonContainer {
    position: absolute;
    bottom: 20px; /* Justera avståndet från botten */
    left: 35%; /* Justera avståndet från vänster */
}

.buttonContainer a button, .buttonContainer button {
    width: 350px;
    height: 60px;
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    font-family: "VT323", monospace;
    cursor: pointer;
    background: white;
    font-size: 40px;
}

.buttonContainer button:hover, .buttonContainer a button:hover {
    background: #4F4537;
    color: white;
}

.howToPlay {
    text-align: left;
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
    font-family: "VT323", cursive;
    font-size: 60px;
}

@media (max-width: 768px) {
    .howToPlay {
        font-size: 40px;
    }
}

.howToPlayTitle {
    text-align: center;
    font-family: "VT323", cursive;
    font-size: 60px;

}

@media (max-width: 768px) {
    .howToPlayTitle {
        font-size: 40px;

    }
}

.textContainer .textInfoSmall {
    display: none;
}

.textContainer .textInfoSmall.slide1 {
    display: block;
}


#towerImage {
    display: flex;
    margin-top: -100px;
    width: 700px;
    height: auto;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .buttonContainer {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .homeButtonContainer {
        margin-right: 0;
    }

    .buttonContainer a button, .buttonContainer button {
        width: 300px;
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .buttonContainer {
        gap: 5px;
    }

    .buttonContainer a button, .buttonContainer button {
        width: 250px;
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .buttonContainer {
        flex-direction: column;
        gap: 5px;
    }

    .buttonContainer a button, .buttonContainer button {
        width: 200px;
        font-size: 25px;
    }
}


.homeButtonContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.homeButtonContainer a button {
    width: 350px;
    height: 60px;
    border: 3px solid #4F4537;
    border-radius: 45px;
    transition: all 0.3s;
    font-family: "VT323", monospace;
    cursor: pointer;
    background: white;
    font-size: 40px;
}

.homeButtonContainer a button:hover {
    background: #4F4537;
    color: white;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    height: 40%;
}

.imageContainer img {
    width: 700px;
    height: auto;
    margin-left: 60%;
}
