body, html{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/siteImages/nedladdning.png");
}

#canvasContainer {
    flex-direction: column;
    filter: blur(10,10,10,10);
    border: 2px solid #402f1d;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}



.GameScreen {

}

.GameUI {

}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
}

.tower-icon{
    width: 70px;
    height: 70px;
  /*  background-image: url("hej.png");
  
   */
}